@import url('https://fonts.googleapis.com/css?family=Raleway:900&subset=latin-ext');
html, body{
	margin:0;
	padding:0;
	height:100%;
	-webkit-font-smoothing: antialiased;
	overflow: hidden;
}
body{
	background-color: #3A3A3A;
	font-family: 'Ubuntu', sans-serif;
	margin:0;
	padding:0;
	height:100%;
}
#container{
	min-height:100%;
	position:relative;
  text-align: center;
	margin-top: 10%;
}
#widget{
  display: inline-block;
  text-align: center;
  outline-style: solid;
	outline-color: lightcyan;
  width: 400px;
  height: 500px;
  margin-top: 40px;
}
#title{
  text-transform: uppercase;
  display: inline-block;
  width: 100px;
  color: #ececec;
  transform: translateY(-15px);
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
	background-color: cornsilk;
}
#header{
	color: #3A3A3A;
	text-shadow: 2px 2px lightcyan;
	font-family: 'Raleway', sans-serif;
	font-size: 80px;
	padding-top:20%;
	padding-bottom: 20%;
	letter-spacing: 3px;
}
#text{
  height: 100%;
}
#form_button {
  background: none;
	border: solid 2px lightcyan;
  color: lightcyan;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
	letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
#form_button:hover {
  background: lightcyan;
  color: #3A3A3A;
	border-color: lightcyan;
}
